
.articles-container{
  margin-top: 3rem;
}
.card-grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  justify-content: center;
  padding: 2rem;
  max-width: 70%;
  margin: 0 auto;
}


.article-card {
  display: block;
  width: 20rem;
  height: 30rem;
  background: #303235;
  border-radius: 1.5rem;
  overflow: hidden;
  text-decoration: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.article-card:hover {
  transform: translateY(-5px);
}

.article-card img {
  width: 100%;
  height: 15rem;
  padding: 10px;
  object-fit: cover;
  object-position: center;
  background-color: #303235;
  box-sizing: border-box;
  border-radius: 1.5rem 1.5rem 0rem 0rem;
  
}


.card-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-height: 200px;  
}

.card-content h3 {
  margin: 0 0 0.5rem;
  font-size: 1.2rem;
}

.card-content p {
  font-size: 0.9rem;
  color: #F7F7FF;
  flex-grow: 1;  /* Bu, p'nin daha fazla yer kaplamasına izin verir */
}

.tags {
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;  /* Bu, tags'ı alt kısma iter */
}


.tag {
  display: inline-block;
  background: #3f3c3c;
  color: white;
  padding: 0.3rem 0.6rem;
  font-size: 0.9rem;
  border-radius: 5px;
  margin-right: 0.4rem;
}


@media (max-width: 1200px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 728px){
  .card-grid{
    grid-template-columns: 1fr;
  }
}