.vigenere {
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    gap: 0;
    height: 100vh;

}

/* Sol taraf: Kodlayıcı */
.vigenere-container {
    grid-area: 1 / 1 / 2 / 2;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.08);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
}

/* Sağ taraf: Açıklama */
.coder-information {
    display: flex;
    flex-direction: column;
    justify-content: center; /* İçeriğin üstte hizalanmasını sağlar */
    grid-area: 1 / 2 / 2 / 3;
    padding: 4rem 3rem; /* Padding'i biraz düşürerek alana sığdırabiliriz */
    background-color: rgba(239, 38, 38, 0.04);
    font-size: 1rem;
    line-height: 1.6;
    color: #eee;
    box-sizing: border-box; /* Box sizing ile padding ve border'ı içerik ölçüsüne dahil et */
}

/* Kodlama alanı */
.vigenere-coder {
    width: 100%;
    max-width: 600px;
    background-color: rgba(162, 154, 204, 0.1);
    border-radius: 2rem;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    transition: background-color 0.3s ease, opacity 0.3s ease;
}



.input-text-area {
    width: 100%;
    min-height: 3rem;
    max-height: 12rem;
    /* sınır */
    padding: 1rem;
    font-size: 1.5rem;
    margin: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    color: #333;
    box-sizing: border-box;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    outline: none;
    resize: none;
    overflow-y: auto;
    position: relative;
}

.input-text-area:empty::before {
    content: attr(data-placeholder);
    color: #999;
    pointer-events: none;
}

/* Buton grubu */
.coder-button-container {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.coder-button {
    flex: 1;
    padding: 0.8rem;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #7e6bc3;
    color: white;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#coder-keygen-button{
    width: 100%;
}

.coder-button:hover {
    background-color: #5d4fa1;
}

/* Responsive: Alt alta yerleşim */
@media (max-width: 1034px) {
    .vigenere {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .vigenere-container,
    .coder-information {
        grid-area: unset;
        padding: 1.5rem;
    }

    .vigenere-container{
        min-height: 80vh;
    }

    .coder-information {
        padding-top: 2rem;
        min-height: auto; /* Responsive'ye özel olarak min-height'ı kaldırın */

    }

    .vigenere-coder {
        width: 100%;
    }

    .text-area,
    .coder-button-container {
        width: 100%;
    }

    .coder-button {
        font-size: 1rem;
    }
}