

.no-content {
  color: white; 
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.full-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}


.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}
